/* Global Styles */
body {
background-color: #659DBD;
font-family: Arial, sans-serif;
color: #fff;
}

/* Header Styles */
header {
display: flex;
align-items: center;
justify-content: space-between;
height: 40px;
padding: 20px;
margin-bottom: 10px;
}

.logo img {
height: 80px;
margin-right: 10px;
}

nav ul {
display: flex;
list-style: none;
margin: 10;
padding: 0;
}

nav li {
margin: 0 50px;
}

nav a {
display: block;
padding: 10px;
text-decoration: none;
color: #ffffff;
font-size: 16px;
font-family: Inter, sans-serif;
font-weight: 600;
border-radius: 5px;
transition: all 0.3s ease-in-out;
}

nav a:hover {
background-color: #eee;
color: #333;
}
.form {
  background-color:#DAAD86;
  width: 700px;
  margin: 10px auto;
  margin-top: 10px;
  border: 2px solid #333;
  padding: 20px;
  border-radius: 30px;
}

h1 {
text-align: center;
margin-top: 5px;
font-size: 36px;
font-weight: bold;
}

.bmi-input {
	width: 500px;
	display: flex;
	flex-direction: column;
	margin: 50px auto;
	margin-bottom: 20px;
}

.bmi-input label {
	font-size: 18px;
	text-align: center;
}

.bmi-input input {
	padding: 10px;
	font-size: 16px;
	border-radius: 10px;
	border: none;
}

#calculate-btn {
	display: block;
	margin: 0 auto;
	padding: 10px 20px;
	font-size: 16px;
	background-color: #4CAF50;
	color: white;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}
#calculate-btn:hover {
  background-color: #333;
  color: #fff;
}

#bmi-indicator {
display: flex;
justify-content: center;
margin-top: 50px;
}

#bmi-indicator img {
max-width: 100%;
height: auto;
margin-right: 20px;
width: 300px;
}

.result-container {
background-color:#DAAD86;
width: 700px;
margin: 10px auto;
margin-top: 10px;
border: 2px solid #333;
padding: 20px;
 border-radius: 30px;
text-align: center;
font-size: 18px;
font-weight: bold;
}




