body {
  background-color: #659DBD;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 40px;
  background-color: #DAAD86;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  font-size: 36px;
  color: #fff;
  margin-bottom: 30px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
  color: #fff;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  background-color: #f2f2f2;
  font-size: 18px;
  color: #333;
}

input[type="submit"] {
  display: block;
  padding: 10px;
  text-decoration: none;
  font-size: 16px;
  font-family: Inter, sans-serif;
  font-weight: 600;
  border-radius: 5px; /* add a border radius to create a rounded corner */
  transition: all 0.3s ease-in-out;
  border: none;
}

input[type="submit"]:hover {
  background-color: #333;
  color: #fff;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.login-button {
  background-color: transparent;
  border: none;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  font-family: Arial, sans-serif;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.login-button:hover {
  color: #333;
}
